<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
     <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.css">
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <%- include('../nav') %>

    <%- body %>
    <script src="http://localhost:3000/js/bootstrap.js"></script>
  </body>
</html>