<div class="container">
    <div class="row">
        <div class="col-md-8">
          <h1>myContacts</h1>
          <br>
          <a href="/tambahkontak" class="btn btn-success">Tambah Kontak</a>
            <br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Contacts</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (contact.length < 1) { %>
                    <tr>
                      <td colspan="4">
                        <div class="alert alert-warning" role="alert">
                          data masih kosong
                        </div>
                      </td>
                    </tr>
                  <% } %>
                <% contact.forEach((contact,i) => { i++%>
                 <tr>
                  <td><%= i++ %></td>
                  <td><%= contact.Nama %></td>
                  <td><%= contact.noHp %></td>
                  <td><a href="/detailscontact/<%= contact.Nama %>" class="btn btn-primary badge rounded-flip">Details</a></td>
                 </tr>
                <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</div>