<div class="container">
    <div class="row">
        <div class="col-md-8">
          <h1>myContacts</h1>
          <br>
          <a href="/tambahkontak" class="btn btn-success">Tambah Kontak</a>
            <br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Contacts</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                
                </tbody>
              </table>
        </div>
    </div>
</div>